@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

.header {
  font-family: "New Amsterdam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}