@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.header {
  font-family: "Anton", sans-serif;
  font-style: normal;
  text-align: center;
  text-shadow: -2px 3px 0px #253324;
  color:whitesmoke
}

h1.header{
  font-size: 3rem;
  padding-top: 100px;
  
}
h2.header{
  font-size: 2.7rem;
  padding-bottom: 75px;
}
div.header-bg{
  background-image: url(headerbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 5px black solid;
}

/* Charities Stuff */

div.charities-header-bg{
  background-image: url(headerbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1.charities-header{
  font-size: 3rem;
  padding-top: 100px;
  padding-bottom: 75px;
}
div.charities-header-bg{
  background-image: url(CharitiesHeader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 5px black solid;
}

.charities-header {
  font-family: "Anton", sans-serif;
  font-style: normal;
  text-align: center;
  text-shadow: -2px 3px 0px #253324;
  color:whitesmoke;
  backdrop-filter: brightness(0.85);
}

/* Helping In Public */

div.HIP-header-bg{
  background-image: url(headerbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1.HIP-header{
  font-size: 3rem;
  padding-top: 100px;
  padding-bottom: 75px;
}
div.HIP-header-bg{
  background-image: url(HIPheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 5px black solid;
}

.HIP-header {
  font-family: "Anton", sans-serif;
  font-style: normal;
  text-align: center;
  text-shadow: -2px 3px 0px #253324;
  color:whitesmoke;
  backdrop-filter: brightness(0.85);
}

/* Helping At Home */

div.HAH-header-bg{
  background-image: url(headerbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1.HAH-header{
  font-size: 3rem;
  padding-top: 100px;
  padding-bottom: 75px;
}
div.HAH-header-bg{
  background-image: url(HAHheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 5px black solid;
}

.HAH-header {
  font-family: "Anton", sans-serif;
  font-style: normal;
  text-align: center;
  text-shadow: -2px 3px 0px #253324;
  color:whitesmoke;
  backdrop-filter: brightness(0.85);
}

